<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      {%- include about.html -%}   
            
      {%- if site.data.education.size > 0 -%}
        {%- include education.html -%}
      {%- endif -%}
      
<! –– commented out {%- if site.data.acaexperience.size > 0 -%}
        {%- include acaexperience.html -%}
      {%- endif -%} ––> 

      {%- if site.data.profexperience.size > 0 -%}
        {%- include profexperience.html -%}
      {%- endif -%}      
                 
      {%- if site.data.experience.size > 0 -%}
        {%- include experience.html -%}
      {%- endif -%}

      {%- if site.data.projects.size > 0 -%}
        {%- include projects.html -%}
      {%- endif -%}

      {%- if site.more_content -%}
        {%- include more.html -%}
      {%- endif -%}

    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>
